layout {

    focus-ring {
        active-color   "#a260f3"
        inactive-color "#231c2f"
        urgent-color   "#f38ba8"
    }

    border {
        active-color   "#a260f3"
        inactive-color "#231c2f"
        urgent-color   "#f38ba8"
    }


    tab-indicator {
        active-color   "#a260f3"
        inactive-color "#490a97"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#a260f380"
    }
}

recent-windows {
    highlight {
        active-color "#a260f3"
        urgent-color "#f38ba8"
    }
}
