layout {

    focus-ring {
        active-color   "#772e96"
        inactive-color "#110118"
        urgent-color   "#e80e4f"
    }

    border {
        active-color   "#772e96"
        inactive-color "#110118"
        urgent-color   "#e80e4f"
    }


    tab-indicator {
        active-color   "#772e96"
        inactive-color "#300f3d"
        urgent-color   "#e80e4f"
    }

    insert-hint {
        color "#772e9680"
    }
}

recent-windows {
    highlight {
        active-color "#772e96"
        urgent-color "#e80e4f"
    }
}
