/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #231c2f;
    background-alt: #313244;
    foreground:     #FFFFFFFF;
    selected:       #a260f3;
    active:         #50FA7BFF;
    urgent:         #FF5555FF;
}
